@c-primary: #33D3CF;
@c-secondary: #592989;
@c-extra: #2d2d2d;
@c-pink: #e04dc4;
@c-light-pink: #c849af;
@c-yellow: #f6ba01;

@body-bg: #fff;
@c-body: @body-bg;
@c-warning: #fecc17;
@c-danger: #e6341f;
@c-neutral: #1861A5;
@c-highlight: #E20073;

@c-text: #000;
@c-text-secondary: #8F3A95;
@c-border: @c-secondary;
@c-dark: #C6C6C6;
@c-black: #000;
@c-white: #ffffff;

@c-dgray: #d3d3d3;
@c-dgray-2: #d3d3d3;

@font-primary: 'Calibri', sans-serif;
@font-secondary: 'MullerBlack', sans-serif;
@font-extra: 'Lato', sans-serif;
@font-size: 14;

@amount: 12;
@grid: 100%/@amount;
@grid-p: 100%/@amount*2;

@border-radius: 4px;

@line-height: 1.3;

@f-base: 1;
@f-normal: 1;
@f-small: 0.8;
@f-smaller: 0.7;
@f-small2: 0.7;
@f-small3: 0.6;
@f-h1: 2.2;
@f-h2: 1.8;
@f-h3: 1.5;
@f-h4: 1.3;
@f-h5: 1.2;
@f-h6: 1.1;
@f-h7: 1.05;

@p1a: 3px;
@p1: 5px;
@p2: 10px;
@p3: 15px;
@p4: 25px;
@p5: 35px;
@p6: 50px;
@p7: 65px;

@max-width-mobile: 480px;
@max-width-middle-screen: 600px;
@max-width-small-screen: 375px;
@min-width-tablet: (@max-width-mobile + 1);
@max-width-tablet: 980px;
@min-width-pc: (@max-width-tablet + 1);

@breakpoint-1200: 1200px;
@breakpoint-1280: 1280px;

@breakpoint-1024-max: 1024px;
@breakpoint-1024-min: 1025px;

@breakpoint-900-max: 899px;
@breakpoint-900-min: 900px;

@breakpoint-768-max: 767px;
@breakpoint-768-min: 768px;

@breakpoint-650-max: 649px;
@breakpoint-650-min: 650px;

@breakpoint-550-max: 549px;
@breakpoint-550-min: 550px;

@breakpoint-480: 480px;


@header-heigth: 70px;

// forms vars

@form-bg: #fff;
@form-color: @c-text;
@form-placeholder-color: @c-secondary;
@font-form: @font-secondary;

@form-height: 43px;
@form-radius: 0;

@form-border: 1px;
@form-border-color: @c-secondary;
@form-border-focus-color: @c-text;

@form-icon-color: @c-secondary;
@form-icon-size: 20px;