/*
Theme Name: Barhat
Author: D2.digital
Author URI: http://d2.digital/
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: barhat

This theme, like WordPress, is licensed under the GPL.
*/

html {
    margin-top: 0px !important;
}
.load_next {
    cursor: pointer;
}
nav.category-nav, nav.category-nav .swiper-wrapper {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}