@keyframes move-birds {
    0%, 50%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(20%);
    }
    75% {
        transform: translateY(35%);
    }
}


@keyframes move-clouds {
    0% {
        background-position: 0 center
    }

    100% {
     background-position: 100000px center
    }
}

@keyframes move-ballon {
    0% {
        transform: translateX(70%) translateY(-30%) scale(1);
    }

    100% {
        transform: translateX(80%) translateY(10%) scale(.7);
    }
}

@keyframes move-blur-hearts {
    0% {
        opacity: 1;
        transform: translateY(30%);
    }

    90% {
     opacity: 1;
    }

    100% {
        opacity: .0;
        transform: translateY(0%);
    }
}

@keyframes blind-window {
    0%, 80% {
        opacity: 0;
    }
    40%, 100% {
        opacity: 1;
    }
}