.d-table {
	display: table;
}

.d-block {
	display: block;
}

.d-inline {
	display: inline;
}

.d-inline-block, .i-block {
	display: inline-block;
}

.d-cell {
	display: table-cell;
}

.border-radius {
	border-radius: @border-radius;

	&-top {
		border-radius: @border-radius @border-radius 0 0;
	}

	&-bottom {
		border-radius: 0 0 @border-radius @border-radius;
	}
}

.border-b {
	border-bottom: 1px solid;

	&.c-light {
		border-color: #E0E0E0;
	}
	&.b-pink {
		border-color: #FFD1F9;
	}
}

.border-r {
	border-right: 1px solid;

	&.c-light {
		border-color: #E0E0E0;
	}
}

.border-t {
	border-top: 1px solid;

	&.c-light {
		border-color: #E0E0E0;
	}
}


[class*='-lines'] {
	@line-height: 1.2;

	line-height: @line-height;
	overflow: hidden;

	&.max-3-lines {
		max-height: 3em * @line-height;
	}

	&.max-2-lines {
		max-height: 2em * @line-height;
	}

	&.height-3-lines {
		height: 3em * @line-height;
	}

	&.height-4-lines {
		height: 4em * @line-height;
	}

	&.max-4-lines {
		max-height: 4em * @line-height;
	}
}


.m-center {
	margin-left: auto;
	margin-right: auto;
}

.swr {
	position: relative;
	box-sizing: border-box;
	min-height: 1px;
	display: block;
	width: 100%;
}

[class*='max-w-'] {
	box-sizing: border-box;
	width: 100%;
}

.loop(@counter) when (@counter < 1600) {
  	.loop((@counter + 50));
  	
  	.max-w-@{counter} {
		max-width: @counter + 0px;
	}
}
.loop(0);

.max-w-100p {
	max-width: 100%;
}


.max-w-180 {
	max-width: 180px;
}

.max-w-270 {
	max-width: 270px;
}

.responsive(@breakpoint-1024-max, {
	.hidden-1024 {
		display: none !important;
	}
});

.hidden-show-1024 {
	.responsive-min(@breakpoint-1024-min, {
		display: none !important;
	});
}

.hidden-900 {
	.responsive(@breakpoint-900-max, {
		display: none !important;
	});
}

.hidden-show-768 {
	.responsive-min(@breakpoint-768-min, {
        display: none !important;
	});
}

.hidden-show-550 {
	.responsive-min(@breakpoint-550-min, {
		display: none !important;
	});
}

.hidden-480 {
	.responsive(@breakpoint-480, {
		display: none !important;
	});
}

.responsive(@breakpoint-768-max, {
	.hidden-768 {
		display: none !important;
	}
});

.responsive(@max-width-middle-screen, {
	.hidden-600 {
		display: none !important;
	}
});

.responsive(@breakpoint-550-max, {
	.block-550 {
		display: block;
	}
	.hidden-550 {
		display: none !important;
	}
});

q {
	display: block;
	.font-size-px(16);
	color: #000000;
	padding: 30px 25px 30px 71px;
	border-top: 1px solid;
	background-repeat: no-repeat;
	background-image: url(../../../dist/images/interface/quote.svg);
	background-size: 25px;
	background-position: 30px 33px;

	.responsive(@breakpoint-550-max, {
		& {
			padding-left: 50px;
			background-position: 12px 33px;
			padding-right: 10px;
		}
	});
}