.bordered() {
    border: 1px solid currentColor;
}

.button-theme(@bg_color, @color: #FFF) {
    .clickable();
    border-radius: 0;
    overflow: hidden;
    background-color: @bg_color;
    text-decoration: none;
    border: none;
    color: @color;

    &:after,
    &:before {
        position: absolute;
        top: 0;
        content: '';
        bottom: 0;
        z-index: -1;
        pointer-events: none;
    }

    &:before {
        left: 0;
        right: 0;
        opacity: 0;
    }

    &:after {
        left: 50%;
        width: 10%;
        margin-left: -5%;
        visibility: hidden;
        border-radius: inherit;
        background-color: rgba(0, 0, 0, 0.15);
    }

    &:hover {
        background-color: darken(@bg_color, 15%);
        &:before {
            transition: opacity 0.1s ease-out;
            opacity: 1;
        }
    }

    &.shadow {
        box-shadow: 0 0 0 3px #fff, 2px 5px 0 0 #ccc;
    }

    &:active {
        &:after {
            visibility: visible;
            width: 120%;
            margin-left: -60%;
            transition: width 0.1s ease-out, margin-left 0.1s ease-out;
        }
    }

    &:focus {
        background-color: darken(@bg_color, 15%);
        box-shadow: 0 0 40px -13px @c-primary;
    }

    &:disabled, &.disabled {
        pointer-events: none;
        opacity: .5;


        &:hover {
            &:before {
                opacity: 0;
            }
        }

        &:active {
            &:after {
                display: none;
            }
        }
    }

    &.bordered {
        .bordered;
        &-x3 {
            border-width: 3px;
        }
    }
}

.btn {
    line-height: 40px;
    height: 40px;
    padding: 0 1em;
    min-width: 140px;
    outline: none;
    box-sizing: border-box;
    transition: background .2s linear;
    cursor: pointer;
    border-radius: 100px;
    text-align: center;
    position: relative;
    display: inline-block;
    font-family: @font-secondary;
    text-transform: uppercase;


    img {
        height: 1.5em;
        display: inline-block;
        vertical-align: text-bottom;
    }

    &.small {
        .font-size-px(11);
        min-width: 0;
        line-height: 20px;
        height: 20px;
    }

    &-big {
        line-height: 50px;
        height: 50px;
    }

    &.reset-min-w {
        padding: 0;
        min-width: 40px;
    }

    .responsive(@breakpoint-480, {
        min-width: 100px;
    });
}

.custom-button {
    button {
        &:extend(.btn all);
        .button-theme(@c-dgray, @c-text);
    }
}

.btn-primary {
    &:extend(.btn all);
    .button-theme(@c-primary, @c-white);
}


.btn-black {
    &:extend(.btn all);
    .button-theme(#000);

    &:hover {
        background-color: lighten(#000, 15%);
    }
}

.btn-default-transparent {
    &:extend(.btn all);
    .button-theme(rgba(0, 0, 0, 0));


    &:hover {
        color: @c-primary;
        background-color: fade(@c-black, 5%);
    }

    &.primary{
        .button-theme(rgba(0, 0, 0, 0), @c-primary);
        .bordered;

        &:focus,
        &:hover {
            background-color: fade(@c-primary, 15%);
        }
    }
}