@font-face {
    font-family: 'Gro';
    font-style: normal;
    font-weight: 700;
    src: url('/dist/fonts/GROBOLD.woff') format('woff');
}
@font-face {
    font-family: 'MullerBlack';
    font-style: normal;
    font-weight: normal;
    src: url('/dist/fonts/MullerBlack.woff') format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    src: url('/dist/fonts/Lato-Bold.woff') format('woff');
}

