.form-group {
	position: relative;

	.input-control, .select-control, .textarea-control {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: block;
		width: 100%;
		font-family: @font-form;
		margin: inherit;
		box-sizing: border-box;
		.font-size-px(16);
		overflow: hidden;
		font-weight: normal;
		border-radius: @form-radius;
		color: @form-color;
		background: @form-bg;
		transition: all .2s linear 0s;
		padding: 0 20px;
		border: @form-border solid @form-border-color;
		height: 135px;

		option {
			background-color: #fff;
			color: #333;
		}

		&:not(.textarea-control) {
			padding: 0 15px;
			line-height: @form-height;
			height: @form-height - @form-border * 2;
		}

		&.focus-select {
			cursor: pointer;
			user-select: all;
			word-break: break-all;
		}

		&.no-italic {
			font-style: normal;
		}

		&.control-bordered {
			box-shadow: 0 0 0 1px fade(@c-text, 30%);
		}

		&.control-noradius {
			border-radius: 0;
		}

		&.w-200 {
			width: 200px;
		}

		&.w-180 {
			width: 180px;
		}

		&.w-120 {
			width: 120px;
		}

		&.w-100 {
			width: 100px;
		}

		&.max-w-220 {
			max-width: 220px;
		}

		&.max-w-300 {
			max-width: 300px;
		}

		&.error {
			border-color: @c-danger;
		}

		&:focus {
			outline: none !important;
			border: @form-border solid @form-border-focus-color;
		}


		&::-webkit-input-placeholder {color: @form-placeholder-color;}
		&::-moz-placeholder          {color: @form-placeholder-color;}
		&:-moz-placeholder           {color: @form-placeholder-color;}
		&:-ms-input-placeholder {color: @form-placeholder-color;}


		&::-ms-expand {
			display: none;
		}

		&.transparent-mod {
			color: #fff;
			background-color: transparent;
			box-shadow: 0 0 0 1px currentColor;

			&:hover {
				background-color: fade(#000, 10%);
			}
		}
	}

	.textarea-control {
		line-height: 1.1;
		resize: none;
		overflow: auto;
		padding: 10px;
		min-height: 100px;


		&.min-h-130 {
			min-height: 130px;
		}
		&.min-h-250 {
			min-height: 250px;
		}
	}

	&&-icon {
		position: relative;
		i.fa {
			font-size: @form-icon-size;
			z-index: 1;
			top: @form-height/2 - @form-border;
			left: @form-height/2 - @form-border;
			color: @form-icon-color;
			position: absolute;
			transform: translate(-50%, -50%);
		}
		.input-control, .select-control, .textarea-control {
			padding-left: @form-height;
		}
	}

	select:-moz-focusring {
		&:focus {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}
	}

	button {
		&:focus {
			outline: none;
			box-shadow: 0;
		}
	}

	.select-control {
		cursor: pointer;
		transition: all .2s linear;
		background-size: 9px auto;
		background-repeat: no-repeat;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARElEQVQoU2NkIBIwEqmOAaTwP1QxLk1geWSFMD6yJTBDwApBAC4A1YwhhmwdsmJkU8Fq0N2Frhguj80DWD1HUvAQFZQADmIJCehR+rsAAAAASUVORK5CYII=');
		background-position: right 8px center;


		&:hover {
			background-color: darken(@form-bg, 10%);
		}
	}

	.submit-control {
		width: 100%;
		margin: 0;
		padding: 0 10px;
		overflow: hidden;
		font-size: 18px;
		font-family: Georgia, serif;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		&:focus {
			outline: none;
		}
	}

	.has-btn {
		padding-right: 40px;
	}

	.checkbox-label {
		font-size: 13px;
		line-height: 100%;
		color: @c-dgray;

		.checkbox-control {
			margin: 0 5px 0 0;
			padding: 0;
			float: left;
		}

		label {
			position: relative;
			top: 1px;
		}
	}
	.error-info {
		margin-top: -18px;
		color: @c-danger;
		cursor: default;
		margin-bottom: 10px;
		a {
			color: @c-danger;
		}
	}

	.error-data {
		top: -23px;
	}

	&.bigger {
		.responsive-min(@breakpoint-650-min, {
			.input-control, .select-control, .textarea-control {
				.font-size-px(21);
				line-height: 60px;
				height: 60px;
			}
		});
	}
}
.success-info {
  color: #1861a5;
  border: 1px solid #1861a5;
  padding: 10px;
  cursor: default;
  margin-bottom: 10px;
}
.checkbox-label {
	cursor: pointer;
	color: inherit;

	label {
		.clickable;
		cursor: pointer;
	}
	input[type='radio'],
	input[type='checkbox'] {
		display: none;
		& ~ span {
			position: relative;
			padding-left: 35px;
			user-select: none;
			display: block;
			&:before {
				top: 3px;
				left: 0;
				position: absolute;
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 17px;
				height: 17px;
				border: 3px solid #fff	;
				background-color: @c-white;
				transition: all .2s linear;
				margin-right: 10px;
			}
		}
		&:not(:checked) ~ span {
			checked-text {
				display: none;
			}
		}
		&:checked ~ span {
			&:before {
				background-color: @form-border-focus-color;
			}
			unchecked-text {
				display: none;
			}
		}
	}
}

.list-item {
	&.download-photo {

	}
}

.alert-danger {
	background-color: #ff9f94;
	color: #ca1500;
	padding: 10px;
	border-radius: 5px;
	li {
		margin: 0 0 10px;
		&:last-child {
			margin: 0 0 0;
		}
	}
}