body {
    font-family: @font-primary, sans-serif;
    font-weight: normal;
    line-height: @line-height;
    background: @body-bg;
    overflow-x: hidden;
    .font-size-px(@font-size);
    min-height: 100vh;
    color: @c-text;
    width: 100%;
    margin: 0;
}

svg {
    max-width: 100%;
    display: block;
    color: currentColor;
    width: 100%;
    box-sizing: border-box;
}

sup {
    font-size: 50%;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.rel {
    position: relative;
}

.scroll-fix {
    min-height: 100%;
}

div.rel {
    position: relative
}

div.abs {
    position: absolute
}

.upper {
    text-transform: uppercase;
}

.op0 {
    opacity: 0;
}

.op25 {
    opacity: 0.25;
}

.op50 {
    opacity: 0.5;
}

.op50h {
    opacity: 0.5;
}

.op50h:hover {
    opacity: 1;
}

.op75 {
    opacity: 0.75;
}

.block {
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.i-block {
    display: -moz-inline-stack;
    display: inline-block;
    -display: inline;
    zoom: 1
}

.inline {
    display: inline;
}

.radius {
    border-radius: 5px;
}

.hidden {
    display: none
}

.underline {
    text-decoration: underline;
}

.hidden-v {
    visibility: hidden
}

.responsive(600px, { #important {
    .hidden-600 {
        display: none;
    }
    .grid {
        > .fluid-hidden-600 {
            display: block;
            width: 100%;
        }
    }
} });

.responsive(700px, { #important {
    .hidden-700 {
        display: none;
    }
} });

.transition-off {
    transition: none !important;
}

.pointer {
    cursor: pointer;
}

.h100p {
    height: 100%;
}

.radius-10 {
    border-radius: 10px;
}

.clear-wrapper, .cw, .fw {
    box-sizing: border-box;

    &:after {
        clear: both;
    }

    &:after, &:before {
        display: table;
        content: " ";
        box-sizing: border-box;
    }
}

.mobile-clickable {
    .clickable;
}

.clickable, .clk {
    .clickable();
}

.list-style-n {
    list-style: none;
    padding: 0
}

.width-full, .width-full, .w-full, .w-full {
    width: 100%;
}

.vm {
    vertical-align: middle;
}

@media print {
    html, body {
        height: auto;
    }

    .no-print, .no-print {
        display: none;
    }

    .page-break {
        display: block;
        page-break-before: always;
        .cw;
    }

    .only-print-block, .only-print {
        display: block
    }

    .print-a4 {
        width: 210mm
    }
}

#text_tooltip {
    position: absolute;
    will-change: transform;
    transform: scale(0);
}