/*#region pX*/
.p1 {
	margin: @p1;
}

.p2 {
	margin: @p2;
}

.p3 {
	margin: @p3;
}

.p4 {
	margin: @p4;
}

.p5 {
	margin: @p5;
}

.p6 {
	margin: @p6;
}

.p7 {
	margin: @p7;
}

/*#endregion*/


/*#region padX*/
.pad0 {
	padding: 0
}

.pad1 {
	padding: @p1
}

.pad2 {
	padding: @p2
}

.pad3 {
	padding: @p3
}

.pad4 {
	padding: @p4
}

.pad5 {
	padding: @p5
}

/*#endregion*/

/*#region p-*/
.p-l0 {
	margin-left: 0 !important
}

.p-l1 {
	margin-left: @p1
}

.p-l2 {
	margin-left: @p2
}

.p-l3 {
	margin-left: @p3
}

.p-l4 {
	margin-left: @p4
}

.p-l5 {
	margin-left: @p5
}

.p-l6 {
	margin-left: @p6
}

.p-l7 {
	margin-left: @p7
}

.p-r0 {
	margin-right: 0 !important
}

.p-r1 {
	margin-right: @p1
}

.p-r2 {
	margin-right: @p2
}

.p-r3 {
	margin-right: @p3
}

.p-r4 {
	margin-right: @p4
}

.p-r5 {
	margin-right: @p5
}

.p-r6 {
	margin-right: @p6
}

.p-r7 {
	margin-right: @p7
}

.p-t0 {
	margin-top: 0 !important
}

.p-t1a {
	margin-top: @p1/2
}

.p-t1 {
	margin-top: @p1
}

.p-t2 {
	margin-top: @p2
}

.p-t3 {
	margin-top: @p3
}

.p-t4 {
	margin-top: @p4
}

.p-t5 {
	margin-top: @p5
}

.p-t6 {
	margin-top: @p6
}

.p-t7 {
	margin-top: @p7
}

.-p-t1a {
	margin-top: -@p1/2
}

.-p-t1 {
	margin-top: -@p1
}

.-p-t2 {
	margin-top: -@p2
}

.-p-t3 {
	margin-top: -@p3
}

.-p-t4 {
	margin-top: -@p4
}

.-p-t5 {
	margin-top: -@p5
}

.-p-t6 {
	margin-top: -@p6
}

.-p-t7 {
	margin-top: -@p7
}

.p-b0 {
	margin-bottom: 0 !important
}

.p-b1a {
	margin-bottom: @p1/2
}

.p-b1 {
	margin-bottom: @p1
}

.p-b2 {
	margin-bottom: @p2
}

.p-b3 {
	margin-bottom: @p3
}

.p-b4 {
	margin-bottom: @p4
}

.p-b5 {
	margin-bottom: @p5
}

.p-b6 {
	margin-bottom: @p6
}

.p-b7 {
	margin-bottom: @p7
}

/*#endregion*/

/*#region pad-*/
.pad-l0 {
	padding-left: 0 !important
}

.pad-l1 {
	padding-left: @p1
}

.pad-l1a {
	padding-left: @p1/2
}

.pad-l2 {
	padding-left: @p2
}

.pad-l3 {
	padding-left: @p3
}

.pad-l4 {
	padding-left: @p4
}

.pad-l5 {
	padding-left: @p5
}

.pad-l6 {
	padding-left: @p6
}

.pad-l7 {
	padding-left: @p7
}

.pad-r0 {
	padding-right: 0
}

.pad-r1 {
	padding-right: @p1
}

.pad-r1a {
	padding-right: @p1/2
}

.pad-r2 {
	padding-right: @p2
}

.pad-r3 {
	padding-right: @p3
}

.pad-r4 {
	padding-right: @p4
}

.pad-r5 {
	padding-right: @p5
}

.pad-r6 {
	padding-right: @p6
}

.pad-r7 {
	padding-right: @p7
}

.pad-t0 {
	padding-top: 0 !important
}

.pad-t1 {
	padding-top: @p1
}

.pad-t1a {
	padding-top: @p1/2
}

.pad-t2 {
	padding-top: @p2
}

.pad-t3 {
	padding-top: @p3
}

.pad-t4 {
	padding-top: @p4
}

.pad-t5 {
	padding-top: @p5
}

.pad-t6 {
	padding-top: @p6
}

.pad-t7 {
	padding-top: @p7
}

.pad-b0 {
	padding-bottom: 0 !important
}

.pad-b1 {
	padding-bottom: @p1
}

.pad-b1a {
	padding-bottom: @p1/2
}

.pad-b2 {
	padding-bottom: @p2
}

.pad-b3 {
	padding-bottom: @p3
}

.pad-b4 {
	padding-bottom: @p4
}

.pad-b5 {
	padding-bottom: @p5
}

.pad-b6 {
	padding-bottom: @p6
}

.pad-b7 {
	padding-bottom: @p7
}

.pad-left0 {
	padding-left: 0
}

.pad-left1 {
	padding-left: @p1
}

.pad-left2 {
	padding-left: @p2
}

.pad-left3 {
	padding-left: @p3
}

.pad-left4 {
	padding-left: @p4
}

.pad-left5 {
	padding-left: @p5
}

.pad-left6 {
	padding-left: @p6
}

.pad-left7 {
	padding-left: @p7
}

.pad-right0 {
	padding-right: 0
}

.pad-right1 {
	padding-right: @p1
}

.pad-right2 {
	padding-right: @p2
}

.pad-right3 {
	padding-right: @p3
}

.pad-right4 {
	padding-right: @p4
}

.pad-right5 {
	padding-right: @p5
}

.pad-right6 {
	padding-right: @p6
}

.pad-right7 {
	padding-right: @p7
}

/*#endregion*/

.valign-t {
	vertical-align: top;
}

.valign-b {
	vertical-align: bottom;
}

.valign-m {
	vertical-align: middle;
}

.text-italic {
	font-style: italic;
}

@media screen and (min-width: @min-width-pc) {
	body#important, .grid, .grid.table {
		.hidden-pc, .hidden-pc {
			display: none;
		}
	}

	/*#region pad-*/
	.pad-p-l0 {
		padding-left: 0 !important
	}

	.pad-p-l1 {
		padding-left: @p1
	}

	.pad-p-l1a {
		padding-left: @p1/2
	}

	.pad-p-l2 {
		padding-left: @p2
	}

	.pad-p-l3 {
		padding-left: @p3
	}

	.pad-p-l4 {
		padding-left: @p4
	}

	.pad-p-l5 {
		padding-left: @p5
	}

	.pad-p-l6 {
		padding-left: @p6
	}

	.pad-p-l7 {
		padding-left: @p7
	}

	.pad-p-r0 {
		padding-right: 0
	}

	.pad-p-r1 {
		padding-right: @p1
	}

	.pad-p-r1a {
		padding-right: @p1/2
	}

	.pad-p-r2 {
		padding-right: @p2
	}

	.pad-p-r3 {
		padding-right: @p3
	}

	.pad-p-r4 {
		padding-right: @p4
	}

	.pad-p-r5 {
		padding-right: @p5
	}

	.pad-p-r6 {
		padding-right: @p6
	}

	.pad-p-r7 {
		padding-right: @p7
	}

	.pad-p-t0 {
		padding-top: 0 !important
	}

	.pad-p-t1 {
		padding-top: @p1
	}

	.pad-p-t1a {
		padding-top: @p1/2
	}

	.pad-p-t2 {
		padding-top: @p2
	}

	.pad-p-t3 {
		padding-top: @p3
	}

	.pad-p-t4 {
		padding-top: @p4
	}

	.pad-p-t5 {
		padding-top: @p5
	}

	.pad-p-t6 {
		padding-top: @p6
	}

	.pad-p-t7 {
		padding-top: @p7
	}

	.pad-p-b0 {
		padding-bottom: 0 !important
	}

	.pad-p-b1 {
		padding-bottom: @p1
	}

	.pad-p-b1a {
		padding-bottom: @p1/2
	}

	.pad-p-b2 {
		padding-bottom: @p2
	}

	.pad-p-b3 {
		padding-bottom: @p3
	}

	.pad-p-b4 {
		padding-bottom: @p4
	}

	.pad-p-b5 {
		padding-bottom: @p5
	}

	.pad-p-b6 {
		padding-bottom: @p6
	}

	.pad-p-b7 {
		padding-bottom: @p7
	}

	/*#endregion*/
}

.responsive(@breakpoint-1024-max, {
	/*#region pad-*/
	.pad-1024-l0 {
		padding-left: 0 !important
	}

	.pad-1024-l1 {
		padding-left: @p1
	}

	.pad-1024-l1a {
		padding-left: @p1/2
	}

	.pad-1024-l2 {
		padding-left: @p2
	}

	.pad-1024-l3 {
		padding-left: @p3
	}

	.pad-1024-l4 {
		padding-left: @p4
	}

	.pad-1024-l5 {
		padding-left: @p5
	}

	.pad-1024-l6 {
		padding-left: @p6
	}

	.pad-1024-l7 {
		padding-left: @p7
	}

	.pad-1024-r0 {
		padding-right: 0
	}

	.pad-1024-r1 {
		padding-right: @p1
	}

	.pad-1024-r1a {
		padding-right: @p1/2
	}

	.pad-1024-r2 {
		padding-right: @p2
	}

	.pad-1024-r3 {
		padding-right: @p3
	}

	.pad-1024-r4 {
		padding-right: @p4
	}

	.pad-1024-r5 {
		padding-right: @p5
	}

	.pad-1024-r6 {
		padding-right: @p6
	}

	.pad-1024-r7 {
		padding-right: @p7
	}

	.pad-1024-t0 {
		padding-top: 0 !important
	}

	.pad-1024-t1 {
		padding-top: @p1
	}

	.pad-1024-t1a {
		padding-top: @p1/2
	}

	.pad-1024-t2 {
		padding-top: @p2
	}

	.pad-1024-t3 {
		padding-top: @p3
	}

	.pad-1024-t4 {
		padding-top: @p4
	}

	.pad-1024-t5 {
		padding-top: @p5
	}

	.pad-1024-t6 {
		padding-top: @p6
	}

	.pad-1024-t7 {
		padding-top: @p7
	}

	.pad-1024-b0 {
		padding-bottom: 0 !important
	}

	.pad-1024-b1 {
		padding-bottom: @p1
	}

	.pad-1024-b1a {
		padding-bottom: @p1/2
	}

	.pad-1024-b2 {
		padding-bottom: @p2
	}

	.pad-1024-b3 {
		padding-bottom: @p3
	}

	.pad-1024-b4 {
		padding-bottom: @p4
	}

	.pad-1024-b5 {
		padding-bottom: @p5
	}

	.pad-1024-b6 {
		padding-bottom: @p6
	}

	.pad-1024-b7 {
		padding-bottom: @p7
	}

	/*#endregion*/

	/*#region p-*/
	.p-1024-l0 {
		margin-left: 0 !important
	}

	.p-1024-l1 {
		margin-left: @p1
	}

	.p-1024-l1a {
		margin-left: @p1/2
	}

	.p-1024-l2 {
		margin-left: @p2
	}

	.p-1024-l3 {
		margin-left: @p3
	}

	.p-1024-l4 {
		margin-left: @p4
	}

	.p-1024-l5 {
		margin-left: @p5
	}

	.p-1024-l6 {
		margin-left: @p6
	}

	.p-1024-l7 {
		margin-left: @p7
	}

	.p-1024-r0 {
		margin-right: 0
	}

	.p-1024-r1 {
		margin-right: @p1
	}

	.p-1024-r1a {
		margin-right: @p1/2
	}

	.p-1024-r2 {
		margin-right: @p2
	}

	.p-1024-r3 {
		margin-right: @p3
	}

	.p-1024-r4 {
		margin-right: @p4
	}

	.p-1024-r5 {
		margin-right: @p5
	}

	.p-1024-r6 {
		margin-right: @p6
	}

	.p-1024-r7 {
		margin-right: @p7
	}

	.p-1024-t0 {
		margin-top: 0 !important
	}

	.p-1024-t1 {
		margin-top: @p1
	}

	.p-1024-t1a {
		margin-top: @p1/2
	}

	.p-1024-t2 {
		margin-top: @p2
	}

	.p-1024-t3 {
		margin-top: @p3
	}

	.p-1024-t4 {
		margin-top: @p4
	}

	.p-1024-t5 {
		margin-top: @p5
	}

	.p-1024-t6 {
		margin-top: @p6
	}

	.p-1024-t7 {
		margin-top: @p7
	}

	.p-1024-b0 {
		margin-bottom: 0 !important
	}

	.p-1024-b1 {
		margin-bottom: @p1
	}

	.p-1024-b1a {
		margin-bottom: @p1/2
	}

	.p-1024-b2 {
		margin-bottom: @p2
	}

	.p-1024-b3 {
		margin-bottom: @p3
	}

	.p-1024-b4 {
		margin-bottom: @p4
	}

	.p-1024-b5 {
		margin-bottom: @p5
	}

	.p-1024-b6 {
		margin-bottom: @p6
	}

	.p-1024-b7 {
		margin-bottom: @p7
	}

	/*#endregion*/
});

@media screen and (max-width: @max-width-tablet) {

	/*#region pad-*/
	.pad-t-l0 {
		padding-left: 0 !important
	}

	.pad-t-l1 {
		padding-left: @p1
	}

	.pad-t-l1a {
		padding-left: @p1/2
	}

	.pad-t-l2 {
		padding-left: @p2
	}

	.pad-t-l3 {
		padding-left: @p3
	}

	.pad-t-l4 {
		padding-left: @p4
	}

	.pad-t-l5 {
		padding-left: @p5
	}

	.pad-t-l6 {
		padding-left: @p6
	}

	.pad-t-l7 {
		padding-left: @p7
	}

	.pad-t-r0 {
		padding-right: 0
	}

	.pad-t-r1 {
		padding-right: @p1
	}

	.pad-t-r1a {
		padding-right: @p1/2
	}

	.pad-t-r2 {
		padding-right: @p2
	}

	.pad-t-r3 {
		padding-right: @p3
	}

	.pad-t-r4 {
		padding-right: @p4
	}

	.pad-t-r5 {
		padding-right: @p5
	}

	.pad-t-r6 {
		padding-right: @p6
	}

	.pad-t-r7 {
		padding-right: @p7
	}

	.pad-t-t0 {
		padding-top: 0 !important
	}

	.pad-t-t1 {
		padding-top: @p1
	}

	.pad-t-t1a {
		padding-top: @p1/2
	}

	.pad-t-t2 {
		padding-top: @p2
	}

	.pad-t-t3 {
		padding-top: @p3
	}

	.pad-t-t4 {
		padding-top: @p4
	}

	.pad-t-t5 {
		padding-top: @p5
	}

	.pad-t-t6 {
		padding-top: @p6
	}

	.pad-t-t7 {
		padding-top: @p7
	}

	.pad-t-b0 {
		padding-bottom: 0 !important
	}

	.pad-t-b1 {
		padding-bottom: @p1
	}

	.pad-t-b1a {
		padding-bottom: @p1/2
	}

	.pad-t-b2 {
		padding-bottom: @p2
	}

	.pad-t-b3 {
		padding-bottom: @p3
	}

	.pad-t-b4 {
		padding-bottom: @p4
	}

	.pad-t-b5 {
		padding-bottom: @p5
	}

	.pad-t-b6 {
		padding-bottom: @p6
	}

	.pad-t-b7 {
		padding-bottom: @p7
	}

	/*#endregion*/
}

.responsive(@breakpoint-900-max, {
	/*#region pad-*/
	.pad-900-l0 {
		padding-left: 0 !important
	}

	.pad-900-l1 {
		padding-left: @p1
	}

	.pad-900-l1a {
		padding-left: @p1/2
	}

	.pad-900-l2 {
		padding-left: @p2
	}

	.pad-900-l3 {
		padding-left: @p3
	}

	.pad-900-l4 {
		padding-left: @p4
	}

	.pad-900-l5 {
		padding-left: @p5
	}

	.pad-900-l6 {
		padding-left: @p6
	}

	.pad-900-l7 {
		padding-left: @p7
	}

	.pad-900-r0 {
		padding-right: 0
	}

	.pad-900-r1 {
		padding-right: @p1
	}

	.pad-900-r1a {
		padding-right: @p1/2
	}

	.pad-900-r2 {
		padding-right: @p2
	}

	.pad-900-r3 {
		padding-right: @p3
	}

	.pad-900-r4 {
		padding-right: @p4
	}

	.pad-900-r5 {
		padding-right: @p5
	}

	.pad-900-r6 {
		padding-right: @p6
	}

	.pad-900-r7 {
		padding-right: @p7
	}

	.pad-900-t0 {
		padding-top: 0 !important
	}

	.pad-900-t1 {
		padding-top: @p1
	}

	.pad-900-t1a {
		padding-top: @p1/2
	}

	.pad-900-t2 {
		padding-top: @p2
	}

	.pad-900-t3 {
		padding-top: @p3
	}

	.pad-900-t4 {
		padding-top: @p4
	}

	.pad-900-t5 {
		padding-top: @p5
	}

	.pad-900-t6 {
		padding-top: @p6
	}

	.pad-900-t7 {
		padding-top: @p7
	}

	.pad-900-b0 {
		padding-bottom: 0 !important
	}

	.pad-900-b1 {
		padding-bottom: @p1
	}

	.pad-900-b1a {
		padding-bottom: @p1/2
	}

	.pad-900-b2 {
		padding-bottom: @p2
	}

	.pad-900-b3 {
		padding-bottom: @p3
	}

	.pad-900-b4 {
		padding-bottom: @p4
	}

	.pad-900-b5 {
		padding-bottom: @p5
	}

	.pad-900-b6 {
		padding-bottom: @p6
	}

	.pad-900-b7 {
		padding-bottom: @p7
	}

	/*#endregion*/

	/*#region p-*/
	.p-900-l0 {
		margin-left: 0 !important
	}

	.p-900-l1 {
		margin-left: @p1
	}

	.p-900-l1a {
		margin-left: @p1/2
	}

	.p-900-l2 {
		margin-left: @p2
	}

	.p-900-l3 {
		margin-left: @p3
	}

	.p-900-l4 {
		margin-left: @p4
	}

	.p-900-l5 {
		margin-left: @p5
	}

	.p-900-l6 {
		margin-left: @p6
	}

	.p-900-l7 {
		margin-left: @p7
	}

	.p-900-r0 {
		margin-right: 0
	}

	.p-900-r1 {
		margin-right: @p1
	}

	.p-900-r1a {
		margin-right: @p1/2
	}

	.p-900-r2 {
		margin-right: @p2
	}

	.p-900-r3 {
		margin-right: @p3
	}

	.p-900-r4 {
		margin-right: @p4
	}

	.p-900-r5 {
		margin-right: @p5
	}

	.p-900-r6 {
		margin-right: @p6
	}

	.p-900-r7 {
		margin-right: @p7
	}

	.p-900-t0 {
		margin-top: 0 !important
	}

	.p-900-t1 {
		margin-top: @p1
	}

	.p-900-t1a {
		margin-top: @p1/2
	}

	.p-900-t2 {
		margin-top: @p2
	}

	.p-900-t3 {
		margin-top: @p3
	}

	.p-900-t4 {
		margin-top: @p4
	}

	.p-900-t5 {
		margin-top: @p5
	}

	.p-900-t6 {
		margin-top: @p6
	}

	.p-900-t7 {
		margin-top: @p7
	}

	.p-900-b0 {
		margin-bottom: 0 !important
	}

	.p-900-b1 {
		margin-bottom: @p1
	}

	.p-900-b1a {
		margin-bottom: @p1/2
	}

	.p-900-b2 {
		margin-bottom: @p2
	}

	.p-900-b3 {
		margin-bottom: @p3
	}

	.p-900-b4 {
		margin-bottom: @p4
	}

	.p-900-b5 {
		margin-bottom: @p5
	}

	.p-900-b6 {
		margin-bottom: @p6
	}

	.p-900-b7 {
		margin-bottom: @p7
	}

	/*#endregion*/
});


.responsive(@breakpoint-768-max, {
	/*#region pad-*/
	.pad-768-l0 {
		padding-left: 0 !important
	}

	.pad-768-l1 {
		padding-left: @p1
	}

	.pad-768-l1a {
		padding-left: @p1/2
	}

	.pad-768-l2 {
		padding-left: @p2
	}

	.pad-768-l3 {
		padding-left: @p3
	}

	.pad-768-l4 {
		padding-left: @p4
	}

	.pad-768-l5 {
		padding-left: @p5
	}

	.pad-768-l6 {
		padding-left: @p6
	}

	.pad-768-l7 {
		padding-left: @p7
	}

	.pad-768-r0 {
		padding-right: 0
	}

	.pad-768-r1 {
		padding-right: @p1
	}

	.pad-768-r1a {
		padding-right: @p1/2
	}

	.pad-768-r2 {
		padding-right: @p2
	}

	.pad-768-r3 {
		padding-right: @p3
	}

	.pad-768-r4 {
		padding-right: @p4
	}

	.pad-768-r5 {
		padding-right: @p5
	}

	.pad-768-r6 {
		padding-right: @p6
	}

	.pad-768-r7 {
		padding-right: @p7
	}

	.pad-768-t0 {
		padding-top: 0 !important
	}

	.pad-768-t1 {
		padding-top: @p1
	}

	.pad-768-t1a {
		padding-top: @p1/2
	}

	.pad-768-t2 {
		padding-top: @p2
	}

	.pad-768-t3 {
		padding-top: @p3
	}

	.pad-768-t4 {
		padding-top: @p4
	}

	.pad-768-t5 {
		padding-top: @p5
	}

	.pad-768-t6 {
		padding-top: @p6
	}

	.pad-768-t7 {
		padding-top: @p7
	}

	.pad-768-b0 {
		padding-bottom: 0 !important
	}

	.pad-768-b1 {
		padding-bottom: @p1
	}

	.pad-768-b1a {
		padding-bottom: @p1/2
	}

	.pad-768-b2 {
		padding-bottom: @p2
	}

	.pad-768-b3 {
		padding-bottom: @p3
	}

	.pad-768-b4 {
		padding-bottom: @p4
	}

	.pad-768-b5 {
		padding-bottom: @p5
	}

	.pad-768-b6 {
		padding-bottom: @p6
	}

	.pad-768-b7 {
		padding-bottom: @p7
	}

	/*#endregion*/

	/*#region p-*/
	.p-768-l0 {
		margin-left: 0 !important
	}

	.p-768-l1 {
		margin-left: @p1
	}

	.p-768-l1a {
		margin-left: @p1/2
	}

	.p-768-l2 {
		margin-left: @p2
	}

	.p-768-l3 {
		margin-left: @p3
	}

	.p-768-l4 {
		margin-left: @p4
	}

	.p-768-l5 {
		margin-left: @p5
	}

	.p-768-l6 {
		margin-left: @p6
	}

	.p-768-l7 {
		margin-left: @p7
	}

	.p-768-r0 {
		margin-right: 0
	}

	.p-768-r1 {
		margin-right: @p1
	}

	.p-768-r1a {
		margin-right: @p1/2
	}

	.p-768-r2 {
		margin-right: @p2
	}

	.p-768-r3 {
		margin-right: @p3
	}

	.p-768-r4 {
		margin-right: @p4
	}

	.p-768-r5 {
		margin-right: @p5
	}

	.p-768-r6 {
		margin-right: @p6
	}

	.p-768-r7 {
		margin-right: @p7
	}

	.p-768-t0 {
		margin-top: 0 !important
	}

	.p-768-t1 {
		margin-top: @p1
	}

	.p-768-t1a {
		margin-top: @p1/2
	}

	.p-768-t2 {
		margin-top: @p2
	}

	.p-768-t3 {
		margin-top: @p3
	}

	.p-768-t4 {
		margin-top: @p4
	}

	.p-768-t5 {
		margin-top: @p5
	}

	.p-768-t6 {
		margin-top: @p6
	}

	.p-768-t7 {
		margin-top: @p7
	}

	.p-768-b0 {
		margin-bottom: 0 !important
	}

	.p-768-b1 {
		margin-bottom: @p1
	}

	.p-768-b1a {
		margin-bottom: @p1/2
	}

	.p-768-b2 {
		margin-bottom: @p2
	}

	.p-768-b3 {
		margin-bottom: @p3
	}

	.p-768-b4 {
		margin-bottom: @p4
	}

	.p-768-b5 {
		margin-bottom: @p5
	}

	.p-768-b6 {
		margin-bottom: @p6
	}

	.p-768-b7 {
		margin-bottom: @p7
	}

	/*#endregion*/
});


@media screen and (max-width: @max-width-middle-screen) {

	/*#region pad-*/
	.pad-mid-l0 {
		padding-left: 0 !important
	}

	.pad-mid-l1 {
		padding-left: @p1
	}

	.pad-mid-l1a {
		padding-left: @p1/2
	}

	.pad-mid-l2 {
		padding-left: @p2
	}

	.pad-mid-l3 {
		padding-left: @p3
	}

	.pad-mid-l4 {
		padding-left: @p4
	}

	.pad-mid-l5 {
		padding-left: @p5
	}

	.pad-mid-l6 {
		padding-left: @p6
	}

	.pad-mid-l7 {
		padding-left: @p7
	}

	.pad-mid-r0 {
		padding-right: 0
	}

	.pad-mid-r1 {
		padding-right: @p1
	}

	.pad-mid-r1a {
		padding-right: @p1/2
	}

	.pad-mid-r2 {
		padding-right: @p2
	}

	.pad-mid-r3 {
		padding-right: @p3
	}

	.pad-mid-r4 {
		padding-right: @p4
	}

	.pad-mid-r5 {
		padding-right: @p5
	}

	.pad-mid-r6 {
		padding-right: @p6
	}

	.pad-mid-r7 {
		padding-right: @p7
	}

	.pad-mid-t0 {
		padding-top: 0 !important
	}

	.pad-mid-t1 {
		padding-top: @p1
	}

	.pad-mid-t1a {
		padding-top: @p1/2
	}

	.pad-mid-t2 {
		padding-top: @p2
	}

	.pad-mid-t3 {
		padding-top: @p3
	}

	.pad-mid-t4 {
		padding-top: @p4
	}

	.pad-mid-t5 {
		padding-top: @p5
	}

	.pad-mid-t6 {
		padding-top: @p6
	}

	.pad-mid-t7 {
		padding-top: @p7
	}

	.pad-mid-b0 {
		padding-bottom: 0 !important
	}

	.pad-mid-b1 {
		padding-bottom: @p1
	}

	.pad-mid-b1a {
		padding-bottom: @p1/2
	}

	.pad-mid-b2 {
		padding-bottom: @p2
	}

	.pad-mid-b3 {
		padding-bottom: @p3
	}

	.pad-mid-b4 {
		padding-bottom: @p4
	}

	.pad-mid-b5 {
		padding-bottom: @p5
	}

	.pad-mid-b6 {
		padding-bottom: @p6
	}

	.pad-mid-b7 {
		padding-bottom: @p7
	}

	/*#endregion*/
}

@media screen and (max-width: @max-width-mobile) {

	body#important, .grid, .grid.table {
		.hidden-p, .hidden-m {
			display: none;
		}
	}

	body#important {
		.m-c-p, .m-c-m {
			.m-center;
		}

		.p-t0-p, .p-t0-m {
			margin-top: 0 !important
		}
		.p-t1a-p, .p-t1a-m {
			margin-top: @p1/2 !important
		}
		.p-t1-p, .p-t1-m {
			margin-top: @p1 !important
		}
		.p-t2-p, .p-t2-m {
			margin-top: @p2 !important
		}
		.p-t3-p, .p-t3-m {
			margin-top: @p3 !important
		}
		.p-t4-p, .p-t4-m {
			margin-top: @p4 !important
		}
		.p-t5-p, .p-t5-m {
			margin-top: @p5 !important
		}
		.p-t6-p, .p-t6-m {
			margin-top: @p6 !important
		}
		.p-t7-p, .p-t7-m {
			margin-top: @p7 !important
		}
	}

	/*#region pad-*/
	.pad-ph-l0 {
		padding-left: 0 !important
	}

	.pad-ph-l1 {
		padding-left: @p1
	}

	.pad-ph-l1a {
		padding-left: @p1/2
	}

	.pad-ph-l2 {
		padding-left: @p2
	}

	.pad-ph-l3 {
		padding-left: @p3
	}

	.pad-ph-l4 {
		padding-left: @p4
	}

	.pad-ph-l5 {
		padding-left: @p5
	}

	.pad-ph-l6 {
		padding-left: @p6
	}

	.pad-ph-l7 {
		padding-left: @p7
	}

	.pad-ph-r0 {
		padding-right: 0
	}

	.pad-ph-r1 {
		padding-right: @p1
	}

	.pad-ph-r1a {
		padding-right: @p1/2
	}

	.pad-ph-r2 {
		padding-right: @p2
	}

	.pad-ph-r3 {
		padding-right: @p3
	}

	.pad-ph-r4 {
		padding-right: @p4
	}

	.pad-ph-r5 {
		padding-right: @p5
	}

	.pad-ph-r6 {
		padding-right: @p6
	}

	.pad-ph-r7 {
		padding-right: @p7
	}

	.pad-ph-t0 {
		padding-top: 0 !important
	}

	.pad-ph-t1 {
		padding-top: @p1
	}

	.pad-ph-t1a {
		padding-top: @p1/2
	}

	.pad-ph-t2 {
		padding-top: @p2
	}

	.pad-ph-t3 {
		padding-top: @p3
	}

	.pad-ph-t4 {
		padding-top: @p4
	}

	.pad-ph-t5 {
		padding-top: @p5
	}

	.pad-ph-t6 {
		padding-top: @p6
	}

	.pad-ph-t7 {
		padding-top: @p7
	}

	.pad-ph-b0 {
		padding-bottom: 0 !important
	}

	.pad-ph-b1 {
		padding-bottom: @p1
	}

	.pad-ph-b1a {
		padding-bottom: @p1/2
	}

	.pad-ph-b2 {
		padding-bottom: @p2
	}

	.pad-ph-b3 {
		padding-bottom: @p3
	}

	.pad-ph-b4 {
		padding-bottom: @p4
	}

	.pad-ph-b5 {
		padding-bottom: @p5
	}

	.pad-ph-b6 {
		padding-bottom: @p6
	}

	.pad-ph-b7 {
		padding-bottom: @p7
	}

	/*#endregion*/
}

@media screen and (min-width: @min-width-pc) {
	body, .grid, .grid.table {
		.hidden-pc, .hidden-pc {
			display: none;
		}
	}

	body {
		.m-c-pc {
			.m-center;
		}
	}
}