inner-html {
    line-height: @line-height + .4;

    img {
        margin: 10px;
    }

    q,
    p {
        font-family: @font-secondary;
        margin: 25px 0;
    }

    p {
        color: @c-dgray-2;
    }

    ol {
        font-family: @font-secondary;
        color: @c-dgray-2;
        margin: 25px 0;
        list-style: none;
        padding-left: 40px;
        li {
            margin: 15px 0;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                display: block;
                width: 4px;
                height: 4px;
                border: 1px solid @c-primary;
                top: (@line-height + .3)/2em;
                right: calc(~'100% + 10px');
            }
        }
    }
}