a {
    color: @c-primary;
    text-decoration: underline;

    &.a-inherit {
        color: inherit
    }

    &.a-uu {
        text-decoration:underline !important;
        &:hover {
            text-decoration:underline !important;
        }
    }
    &.a-nu {
        text-decoration:none;
        &:hover {
            text-decoration:underline
        }
    }

    &.a-nu {
        text-decoration:none;
        &.a-nu:hover {
            text-decoration:underline;
        }
    }

    &.a-nn {
        text-decoration:none;
        &:hover {
            text-decoration:none;
        }
    }

    &.a-un {
        text-decoration:underline;
        &:hover {
            text-decoration:none
        }
    }

    &.a-h-secondary {
        transition: all .1s linear;
        &:hover {
            color: @c-secondary;
        }
    }

    &.a-h-primary {
        transition: all .1s linear;
        &:hover {
            color: @c-primary;
        }
    }

    //&:focus {
    //    transition: all .23s ease;
    //    outline: none;
    //
    //    &:before {
    //        z-index: -1;
    //        content: '';
    //        position: absolute;
    //        top: -2px;
    //        left: -2px;
    //        right: -2px;
    //        bottom: -2px;
    //        background-color: #fff;
    //        border-radius: 4px;
    //        box-shadow: 0 0 40px -9px fade(@c-black, 33%);
    //    }
    //}

    &:active {
        &:before {
            display: none;
        }
    }
}