body {
  -webkit-font-smoothing: antialiased;
  p {
    line-height: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: @line-height;
  margin-bottom: 0;
  margin-top: 0;
}


.h1, .h2, .h3, .h4, .h5, .h6, .h7, .small, .small2, .small3, .smaller {
  line-height: @line-height;
}

.h1-x1 {
  .font-size-px(50);
}

.h1-x2 {
  .font-size-px(70);
}

h1, .h1 {
  .font-size-px(30);

  .responsive(@breakpoint-480, {
    .font-size-px(24);
  });
}

h2, .h2 {
  .font-size-px(24);
  .responsive(@breakpoint-480, {
    .font-size-px(20);
  });
}

h3, .h3 {
  .font-size-px(20);
  .responsive(@breakpoint-480, {
    .font-size-px(18);
  });
}

h4, .h4 {
  .font-size-px(18);
  .responsive(@breakpoint-480, {
    .font-size-px(15);
  });
}

h5, .h5 {
  .font-size-px(15);
  .responsive(@breakpoint-480, {
    .font-size-px(12);
  });
}

h6, .h6 {
  .font-size-px(12);
}

.h7 {
  .font-size-px(9);
}

.f-normal {
  .font-size-px(16);
}

h1.caption, h2.caption, h3.caption, h4.caption, h5.caption, h6.caption {
  margin-top: 0px
}

h1.label, h2.label, h3.label, h4.label, h5.label, h6.label {
  margin-top: 0px;
  margin-bottom: 0px
}


.f-10 {
  .font-size-px(10);
}
.f-11 {
  .font-size-px(11);
}
.f-12 {
  .font-size-px(12);
}
.f-13 {
  .font-size-px(13);
}
.f-14 {
  .font-size-px(14);
}

.f-15 {
  .font-size-px(15);
}

.f-16 {
  .font-size-px(16);
}

.f-17 {
  .font-size-px(17);
}

.f-18 {
  .font-size-px(18);
}

.f-19 {
  .font-size-px(19);
}

.f-20 {
  .font-size-px(20);
}
.f-22 {
  .font-size-px(22);
}
.f-24 {
  .font-size-px(24);
}
.f-50 {
  .font-size-px(50);
}

.big-title {
  .font-size(3);
  .mobile({ .font-size(1.8); });
}

.big {
  font-size: 120%;
}

.bigger {
  font-size: 150%;
}

.small {
  .font-size(@f-small);
}

.normal, .h0 {
  .font-size(@f-base);
}

.smaller-9 {
  font-size: 90%;
}

.smaller-8 {
  font-size: 85%;
}

.smaller-7 {
  font-size: 70%;
}

.smaller {
  font-size: 50%;
}

.small2 {
  .font-size(@f-small2);
}

.small3 {
  .font-size(@f-small3);
}

.i, .italic {
  font-style: italic;
}

.b, .bold {
  font-weight: bold;
}

.bold-500 {
  font-weight: 500;
}

.bold-600 {
  font-weight: 600;
}

.bold-700 {
  font-weight: 700;
}

.bold-800 {
  font-weight: 800;
}

.bold-900 {
  font-weight: 900;
}

.text-l {
  text-align: left;
}

.text-c {
  text-align: center;
}

.text-r {
  text-align: right;
}

.text-j {
  text-align: justify;
}

.text-dashed, .link {
  border-bottom: 1px dashed currentColor;
  text-decoration: none;
  .clk;
  &:hover {
    text-decoration: none;
  }
}

.column-count-2 {
  column-count: 2;
  column-gap: 40px;
  .responsive(800px, { column-count: 1; column-gap: 0; });
}

.nowrap {
  white-space: nowrap;
}

.responsive(@breakpoint-1024-min, {
  .text-1024-l {
    text-align: left;
  }

  .text-1024-c {
    text-align: center;
  }

  .text-1024-r {
    text-align: right;
  }
});

.responsive(@max-width-tablet, {
  .text-t-l {
    text-align: left;
  }

  .text-t-c {
    text-align: center;
  }

  .text-t-r {
    text-align: right;
  }
});

.responsive(@breakpoint-768-max, {
  .text-768-l {
    text-align: left;
  }

  .text-768-c {
    text-align: center;
  }

  .text-768-r {
    text-align: right;
  }
});

.responsive(@max-width-middle-screen, {
  .text-mid-l {
    text-align: left;
  }

  .text-mid-c {
    text-align: center;
  }

  .text-mid-r {
    text-align: right;
  }
});

.responsive(@breakpoint-768-max, {
  .h2-768 {
    .font-size-px(24);
  }
  .f-14-768 {
    .font-size-px(14);
  }
});