.c-primary {
  color: @c-primary;
}

.c-secondary {
  color: @c-secondary;
}

.c-secondary-darken {
  color: darken(@c-secondary, 20%);
}

.c-text {
  color: @c-text;
}

.c-black {
  color: @c-dark;
}

.c-dgray {
  color: @c-dgray;
}

.c-dgray-l {
  color: lighten(@c-dgray, 5%);
}

.c-dgray-d {
  color: @c-dgray-2;
}

.c-white {
  color: @c-white;
}

.c-dark {
  color: @c-dark;
}
.c-pink {
  color: @c-pink;
}

.bg-c-brand-dark {
  background-color: @c-dark;

  &.hover {
    &:hover {
      background-color: darken(@c-dark, 5%);
    }
  }
}

.bg-c-secondary {
  background-color: @c-secondary;
}

.hover-secondary {
  transition: all .2s linear;
  &:hover {
    color: @c-secondary;
  }
}

.f-primary {
  font-family: @font-primary;
}

.f-secodary {
  font-family: @font-secondary;
}

.f-extra {
  font-family: @font-extra;
}