.video-block {
    @width: 810px;

    width: @width;
    height: @width / 16 * 9;

    position: relative;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .responsive(@width, {
        @width: 100%;

        & {
            width: @width;
            height: 0;
            padding-bottom: @width / 16 * 9;
        }
    });
}