.cart-item {
    display: flex;
    justify-content: space-between;
    .responsive(@max-width-middle-screen, {
        flex-wrap: wrap;
    });
    &>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            .responsive(@max-width-middle-screen, {
                flex: 0 0 10%;
            });
            .del-btn {
                width: 20px;
                height: 20px;
                position: relative;
                cursor: pointer;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: @c-black;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    transition: all 0.2s;
                }
                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
                &:hover {
                    &:before,
                    &:after {
                        background-color: @c-pink;
                    }
                }
            }
        }
    }
    .img-holder {
        width: 145px;
        height: 145px;
        flex: 0 0 145px;
        background-size: cover;
        &.with-border {
            border: 1px solid @c-dgray;
        }
        .responsive(@max-width-middle-screen, {
            flex: 0 0 100%;
            margin-bottom: @p4;
            padding-bottom: 100%;
        });
    }
    .cart-item-bio {
        width: 360px;
        padding-left: @p5;
        align-items: flex-start;
        flex: 0 5 360px;
        &>div {
            display: flex;
        }
        .responsive(@max-width-middle-screen, {
            flex: 0 0 60%;
            padding-left: 0;
        });
    }
    .total-block {
        width: 185px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f9f9f9;
        .responsive(@max-width-middle-screen, {
            flex: 0 0 30%;
        });
    }
}

.total {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    border-top: 1px solid @c-dgray;
    padding-top: @p4;
    margin-bottom: 60px;
}

.order-form {
    form {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .responsive(@max-width-middle-screen, {
            flex-direction: column;
        });
    }
    input,
    button {
        width: calc(~'33% - 10px');
        .responsive(@max-width-middle-screen, {
            width: 100%;
            margin-bottom: @p3;
        });
    }
    input {
        border: 1px solid @c-dgray;
        font-size: 18px;
    }
}

.cart-empty {
    margin: 50px 0;
    text-align: center;
    font-size: 20px;
    font-family: 'MullerBlack';
}

.woocommerce-message {
    h2 {
        margin: 50px 0;
        text-align: center;
        font-size: 20px;
        font-family: 'MullerBlack';
    }
}

.return-to-shop {
    text-align: center;
}