footer {
    padding: 100px 15px;
    display: flex;
    align-items: stretch;
    position: relative;
    background-color: @c-extra;
    a {
        color: @c-white;
    }
    .logo {
        color: @c-white;
        .responsive(@breakpoint-1024-max, {
            display: none;
        });
    }
    .main-nav {

    }
    .responsive(@breakpoint-1024-max, {
        background-color: @c-white;
        padding: 50px 15px;
        &>.d-flex {
            justify-content: center;
        }
    });
}
.soc-btn {
    transition: all 0.2s;
    border: 2px solid @c-white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 21px;
    font-size: 11px;
    &:hover {
        color: @c-pink;
        border: 2px solid @c-pink;
    }
    .responsive(@breakpoint-1024-max, {
        color: @c-black;
        border: 2px solid @c-black;
        font-size: 11px;
    })
}