.gallery {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-column-gap: 10px;
    justify-content: space-between;
    grid-auto-rows: 300px;
    .responsive(@breakpoint-1280, {
        grid-template-columns: 300px 300px;
        justify-content: space-around;
    });
    .responsive(@max-width-middle-screen, {
        grid-template-columns: 300px;
        justify-content: center;
    });
}
.gallery-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: @font-secondary;
    border: 1px solid @c-dgray;
    transition: all 0.2s;
    &:hover {
        border: 1px solid @c-pink;
    }
    .responsive(@breakpoint-768-max, {
        font-size: 14px;
    });
}
.gallery-item {
    background-position: top;
    overflow: hidden;
    * {
        width: 100%;
        height: 100%;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &:nth-child(6n+3) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-end: span 2;
        .responsive(@breakpoint-1280, {
            grid-column-start: 1;
            grid-column-end: 2;
        });
        .responsive(@max-width-middle-screen, {
            grid-column-start: auto;
            grid-column-end: auto;
        });
    }
    &:nth-child(6n+4) {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-end: span 2;
        .responsive(@breakpoint-1280, {
            grid-column-start: 2;
            grid-column-end: 3;
        });
        .responsive(@max-width-middle-screen, {
            grid-column-start: auto;
            grid-column-end: auto;
        });
    }

}
