.header {
    font-size: 16px;
    padding: @p4 0 0;
    background-color: @c-white;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 20;
    .responsive(@breakpoint-1024-max, {
        padding: @p4 0;
    });
}
.logo {
    margin-right: 40px;
    font-size: 24px;
    font-family: 'Gro';
    background: -webkit-linear-gradient(#df4dc3, #bb40a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: @c-pink;
    .responsive(@breakpoint-1024-max, {
        font-size: 30px;
    })
}
.lang {
    width: 24px;
    height: 24px;
    border: 2px solid @c-black;
    line-height: 21px;
    text-align: center;
    font-weight: 700;
    font-size: 11px;
    text-decoration: none;
    transition: all 0.2s;
    background-color: rgba(0,0,0, 0);
    margin-left: 20px;
    color: @c-black;
    &:hover {
        background-color: rgba(0,0,0, 1);
        color: @c-white;
    }
    &.mob-lang {
        display: none;
    }
    .responsive(@breakpoint-1024-max, {
        display: none;
        &.mob-lang {
            display: block;
        }
    })
}

.quantity {
    width: 12px;
    height: 12px;
    background-color: @c-pink;
    color: @c-white;
    font-size: 10px;
    text-align: center;
    line-height: 12px;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    bottom: 1px;
}