body {
    font-size: 16px;
    background-color: #fdfdfd;
    p {
        color: @c-text;
        margin-bottom: 1em;
        &.l-height-2 {
            line-height: 2;
        }
    }
}
h1 {
    font-size: 24px;
    font-family: @font-secondary;
    margin-bottom: @p4;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1em;
    &.decor {
        position: relative;
        display: inline-block;
        line-height: 2;
        margin-bottom: @p5;
        font-family: @font-secondary;
        padding-top: 4px;
        &:after,
        &:before {
            content: '';
            width: 200px;
            left: 50%;
            height: 1px;
            background-color: @c-dgray;
            display: block;
            position: absolute;
        }
        &:after {
            top: 0;
            transform: translateX(-50%) translateX(-25%);
        }
        &:before {
            bottom: 0;
            transform: translateX(-50%) translateX(25%);
        }
    }
}
h3 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 1em;
    .responsive(@breakpoint-768-min, {
        font-size: 18px;
    });
}
h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1em;
    font-family: @font-secondary;
    .responsive(@breakpoint-768-min, {
        font-size: 16px;
    });
}
h5 {
    font-size: 14px;
    font-weight: 400;
}

a {
    color: @c-text;
    transition: all 0.2s;
    text-decoration: none;
    font-weight: 300;
    &.primary-link {
        transition: all 0.2s;
        &:hover {
            color: @c-pink;
        }
    }
    &.download-link {
        position: relative;
        padding-left: 30px;
        &:before {
            content: '';
            background-image: url('/dist/images/interface/down-arrow.png');
            width: 25px;
            height: 25px;
            display: inline-block;
            opacity: 0.5;
            position: absolute;
            left: 0;
            top: 0;
            transition: all 0.2s;
        }
        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }
}
input {
    border: none;
    padding: @p3;
    box-sizing: border-box;
    font-size: 15px;
    &:focus {
        outline-color: @c-pink;
        color: @c-text;
    }
}
section {
    margin-bottom: 50px;
    .responsive(@breakpoint-768-min, {
        margin-bottom: 45px;
        &.with-gradient {
            .swiper-container {
                &:after {
                    content: '';
                    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 60px;
                    height: 100%;
                    z-index: 1;
                }
            }
        }
    });
}
table, td {
    border: 1px solid @c-black;
}
table {
    margin-bottom: @p3;
}
td {
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    p {
        margin-bottom: 0;
    }
}
.button {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    min-width: 200px;
    display: inline-block;
    padding: @p3;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 0;
    transition: all 0.2s;
    background-color: @c-white;
    font-family: @font-secondary;
    &.full-width {
        width: 100%;
    }
    &.button-black {
        border: 5px solid @c-black;
        color: @c-black;
        font-weight: 700;
        background-color: @c-white;
        &:hover {
            border: 5px solid @c-pink;
        }
    }
    &.button-pink {
        color: @c-white;
        background-color: @c-pink;
        background-image: linear-gradient(transparent, rgba(0,0,0,.17));
        border: 0;
        &:hover {
            background-color: #cf48b6;
        }
    }

}
.border {
    border: 1px solid @c-black;
}
.text-c-768 {
    .responsive(@breakpoint-768-min, {
        text-align: center;
        margin: 0 auto;
    });
}
.p-t64 {
    margin-top: 64px;
    .responsive(@breakpoint-768-min, {
        margin-top: 0;
    });
}

.pad-l-0-t {
    .responsive(@max-width-tablet, {
        padding-left: 0;
    });
}
.pad-r-0-t {
    .responsive(@max-width-tablet, {
        padding-right: 0;
    });
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &.mob-wrap {
        .responsive(@breakpoint-768-min, {
            flex-wrap: wrap;
            justify-content: center;
        });
    }
    &.member-section {
        .responsive(@breakpoint-768-min, {
            flex-direction: column;
            .pad-r5 {
                padding-right: 0;
            }
        });
    }
    &.f-align-top {
        align-items: flex-start;
    }
    &.flex-start {
        justify-content: flex-start;
    }
}
.c-extra {
    color: @c-extra;
}
.c-gradient {
    background: -webkit-linear-gradient(0, @c-pink, @c-white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-light-pink {
    background-color: #FFF6FE;
}

.bg-pink {
    background-color: @c-pink;
}

.bg-extra {
    background-color: @c-extra;
}

.bg-light-blue {
    background-color: #F3FFFF;
}

.bordered-b {
    border-bottom: 1px solid #e6e6e6;
}
.main-shell {
    min-height: 100vh;
    position: relative;
    padding-top: 99px;
    &:before,
    &:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
    }
    .responsive(@breakpoint-1024-min, {
        padding-top: 89px;
    });
}
.main-page {
    .main-shell {
        padding-top: 0;
    }
}

.background-decor {
    background-image: url("/dist/images/interface/logo-assets-blue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .responsive(@max-width-tablet, {
        background-size: contain;
        padding-top: 0;
    });
}

.two-col {
    display: flex;
    flex-wrap: wrap;
    a {
        max-width: 500px;
    }
}

.three-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
        width: 30%;
    }
    .responsive(@breakpoint-768-min, {
        flex-direction: column;
        a {
            width: 100%;
        }
    });
}

.advantages-section {
    .d-flex {
        &>div {
            display: flex;
            align-items: center;
            flex: 0 0 135px;
            img {
                margin-right: 15px;
            }
        }
    }
    .responsive(@max-width-tablet, {
        display: none;
    });
}

.search-wrapper {
    display: flex;
    position: relative;
    cursor: pointer;
}

.search-input {
    padding: 5px 10px;
    border-bottom: 3px solid @c-black;
    position: absolute;
    top: 0;
    z-index: 100;
    right: 35px;
    width: 0;
    visibility: hidden;
    transition: all 0.2s;
    padding-left: 30px;
    &.visible {
        width: 280px;
        visibility: visible;
        .responsive(@max-width-small-screen, {
            width: 200px;
        });
    }
}

.close-search {
    position: absolute;
    left: -290px;
    z-index: 108;
    top: 50%;
    margin-top: -15px;
    font-size: 26px;
    visibility: hidden;
    &.visible {
        left: -290px;
        visibility: visible;
        .responsive(@max-width-small-screen, {
            left: -210px;
        });
    }
}

.search-input-res-wrapper {
    position: relative;
    width: 100%;
    &:before {
        content: '';
        width: 15px;
        height: 15px;
        background-image: url(/dist/images/interface/magnify-glass.svg);
        position: absolute;
        top: 22px;
        left: 15px;
    }
    span {
        margin-left: @p3;
        .responsive(@max-width-mobile, {
            margin-top: @p2;
            margin-left: 0;
        });
    }
}

.search-input-result {
    padding: @p3 @p5;
    border: 1px solid @c-dgray;
    width: 350px;
    font-size: 18px;
}

.about-wrapper {
    display: flex;
    align-items: flex-start;
    aside {
        width: 320px;
        margin-bottom: @p4;
        .img-holder {
            width: 100%;
            padding-bottom: 100%;
            height: 0;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &>div {
        width: calc(~'100% - 320px');
        padding-left: @p5;
    }
    .responsive(@breakpoint-768-max, {
        flex-direction: column;
        aside,
        &>div {
            width: 100%;
        }
        &>div {
            padding-left: 0;
        }
    });
}

.content {
    .alignright {
        float: right;
        margin-left: 20px;
    }
    .alignleft {
        float: left;
        margin-right: 20px;
    }
    p {
        color: #797979;
    }
}

.contact-wrapper {
    display: flex;
    position: relative;
    align-items: stretch;
    .decor {
        width: calc(~'100% - 60px');
        height: calc(~'100% - 30px');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50% );
        border: 1px solid @c-dgray;
        z-index: 20;
        pointer-events: none;

    }
    .map,
    .contact-info {
        width: 50%;
    }
    .contact-info {
        padding: 60px 45px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
            color: #797979;
        }
        p {
            font-size: 24px;
        }
        &.success-block {
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
            padding: 0;
            margin-top: 25px;
            margin-bottom: 25px;
            div {
                width: 45%;
            }
        }
    }
    .map {
        //height: 430px;
    }
    .responsive(@max-width-tablet, {
        flex-direction: column;
        .decor {
            display: none;
        }
        .map {
            width: 110%;
        }
        .contact-info {
            width: 100%;
            padding: 0;
        }
    });
}

.negative-margin {
    margin-right: -5px;
    margin-left: -5px;
}

.comment-block {
    border: 1px solid #e04dc4;
    padding: 10px 15px;
    .c-black {
        color: #000;
    }
}

.content {
    width: 100%;
}

.woocommerce-message {
    a {
        font-weight: 700;
        color: #e04dc4;
    }
}
#content {
  h2 {
    font-size: 20px;
    font-family: MullerBlack;
  }
}

.customers-info {
    padding-top: 10px;
    border-top: 1px solid #d3d3d3;
}