.market-grid {
    padding-top: @p4;
    //display: flex;
    &>aside {
        width: 320px;
        padding: 0 @p4;
    }
    &>div {
        width: calc(~'100% - 320px');
    }
    & .category-desc {
        margin-top: 20px;
    }
    .responsive(@breakpoint-768-max, {
        &>aside {
            width: 100%;
            padding: 0;
        }
        &>div {
            width: 100%;
        }
    });
    &.tabs-content {
        .responsive(@breakpoint-768-max, {
            flex-direction: column;
        });

    }
}
