.nav-wrapper,
.user-set {
    display: flex;
}

.nav-wrapper {
    align-items: baseline;
    .responsive(@breakpoint-1024-max, {
        &>a {
            display: none;
        }
    });
}

nav {
    display: flex;
    justify-content: space-around;
    .nav-item {
        padding: 25px 20px;
        text-align: center;
        border-bottom: 4px solid transparent;
        &.swiper-slide {
            width: auto;
        }
        .responsive-min(@breakpoint-1024-max, {
            &:hover {
                border-bottom: 4px solid @c-yellow;
                text-shadow: 0.1px 0.1px 0.1px @c-black, -0.1px -0.1px 0.1px @c-black;
            }
        });

        &.active {
            border-bottom: 4px solid @c-yellow;
            text-shadow: 0.1px 0.1px 0.1px @c-black, -0.1px -0.1px 0.1px @c-black;
        }
    }
    .phone {
        display: none;
    }
    &.category-nav {
        border-bottom: 1px solid @c-dgray;
        justify-content: space-between;
        .nav-item {
            padding: 15px 20px;
            margin-bottom: -1px;
        }
        .swiper-wrapper {
            justify-content: space-between;
        }
    }
    &.market-nav {
        justify-content: flex-start;
    }
    &.footer-nav {
        .nav-item {
            border-bottom: none;
            font-weight: bold;
            &:hover {
                border-bottom: none;
                color: @c-pink;
            }
        }
        .responsive(@breakpoint-1024-max, {
            display: none;
        })
    }
    .responsive(@breakpoint-1024-max, {
        &.main-nav {
            position: fixed;
            flex-direction: column;
            max-width: 600px;
            width: 100%;
            height: calc(~'100% - 85px');
            background-color: @c-white;
            z-index: 50;
            top: 85px;
            bottom: 0;
            left: -600px;
            transition: all 0.2s;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-y: auto;
            &.visible {
                left: 0;
            }
            .nav-item {
                font-size: 30px;
                padding: 10px 20px;
                &.active {
                    border-bottom: 0;
                    border-left: 4px solid @c-yellow;
                }
            }
            .phone {
                display: block;
                font-size: 26px;
                padding: 10px 20px;
            }
        }
    })
}

.user-set {
    a {
        margin-right: @p2;
    }
    img {
        height: 25px;
        .responsive(@breakpoint-1024-max, {
            height: 30px;
        })
    }
}

.breadcrumbs-wrapper {
    padding: 30px 0;
    display: flex;
    align-items: center;
    i {
        font-size: 8px;
        color: @c-dgray;
        margin: 0 5px;
    }
    .responsive(@breakpoint-768-max, {
        padding: 15px 0 30px;
    });
    a, span {
        &:first-child {
            font-size: 24px;
            font-family: @font-secondary;
        }
    }
}

.sidebar-nav {
    .responsive(@breakpoint-768-max, {
        overflow: auto;
        display: flex;
        margin-bottom: @p3;
    });
    li {
        margin-bottom: @p3;
        .responsive(@breakpoint-768-max, {
            flex: 0 0 140px;
            a {
                padding: @p2 0;
            }
        });
    }
    .child {
        margin-left: 20px;
    }
    a {
        display: block;
        &:hover {
            font-weight: bold;
            color: @c-pink;
        }
        &.active {
            font-weight: bold;
            color: @c-pink;
        }
    }
    &.swiper-wrapper {
        .responsive-min(@breakpoint-768-max, {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            .swiper-slide {
                height: auto;
            }
        });
    }
}
.pagination-wrapper {
    a {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 24px;
        &.page-link {
            border: 3px solid transparent;
            &:hover {
                border: 3px solid @c-yellow;
            }
            &.active {
                border: 3px solid @c-yellow;
            }
        }
        &.control {
            color: @c-dgray;
            &:hover {
                color: @c-black;
            }
        }
    }
}

.mob-btn {
    display: none;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: all 5s;
    position: absolute;
    right: 105px;
    &.active {
        left: @p4;
        span,
        &:before,
        &:after {
            background-color: @c-pink;
        }
    }
    span,
    &:before,
    &:after {
        width: 100%;
        height: 5px;
        background-color: @c-black;
        position: absolute;
    }
    span {
        top: 50%;
        margin-top: -2.5px;
        left: 0;
    }
    &:before,
    &:after {
        content: '';
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
    .responsive(@breakpoint-1024-max, {
        display: block;
    });
}