.news-wrapper {
    .responsive(@breakpoint-768-max, {
        flex-direction: column;
    });
}
.news-item {
    width: calc(~'50% - 10px');
    height: 300px;
    position: relative;
    margin-bottom: @p4;
    &:hover {
        span {
            font-weight: 700;
        }
    }
    &>div {
        width: 300px;
        right: 30px;
        bottom: 0;
        text-align: center;
        display: flex;
        align-items: center;
        position: absolute;
        background-color: @c-white;
        padding: 50px 70px;
        span {
            max-width: 150px;
            font-size: 18px;
            text-transform: uppercase;
        }
    }
    .responsive(@breakpoint-768-max, {
        width: 100%;
        &>div {
            width: 250px;
            padding: 25px 35px;
            right: 50%;
            transform: translate(50%);
            span {
                max-width: none;
                font-size: 16px;
                text-transform: uppercase;
            }
        }
    });
}