.product-item {
    width: calc(~'25% - 10px');
    margin: 0 @p1 @p3;
    .responsive(@max-width-tablet, {
        width: calc(~'50% - 10px');
    });
    .img-holder {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .product-info {
        padding: 5px 0;
        position: relative;
        max-width: 225px;
    }
    p {
        position: absolute;
        width: 210px;
        box-shadow: 0 0 6px rgba(0,0,0,.1);
        padding: @p3;
        right: -15px;
        top: 100%;
        display: none;
        font-size: 11px;
        z-index: 10;
        &:before {
            content: '';
            width: 10px;
            height: 10px;
            background-color: @c-white;
            transform: rotate(45deg);
            top: -5px;
            right: 18px;
            position: absolute;
            box-shadow: -2px -2px 6px rgba(0,0,0,.1);
        }
    }
    &:hover {
        .img-holder {
            /*background-position: left;*/
        }
        span {
            font-weight: 300;
        }
    }
    &.dress-item {
        .img-holder {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            background-size: 100% auto;
            background-position: center;
            background-repeat: no-repeat;
            border: 1px solid transparent;
        }
        &:hover {
            .img-holder {
                background-position: center;
                border: 1px solid @c-black;
            }
            span {
                font-weight: 300;
            }
        }
    }
}

.more-info {
    width: 14px;
    height: 14px;
    border: 1px solid @c-pink;
    color: @c-pink;
    border-radius: 50%;
    display: block;
    line-height: 12px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: @p1;
    transition: all 0.2s;
    &:hover {
        background-color: @c-pink;
        color: @c-white;
        &+p {
            display: block;
            background-color: @c-white;
        }
    }
}

.cat-wrapper {
    .responsive(@breakpoint-768-max, {
        width: 100%;
        overflow: auto;
        flex-wrap: nowrap;
        .cat-preview {
            flex: 0 0 260px;
        }
    });
}

.cat-preview {
    height: 200px;
    width: 260px;
    position: relative;
    .image {
        background-position: right;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 10;
    }
    .decor-border {
        width: 100%;
        height: 150px;
        border: 1px solid @c-dgray;
        top: @p4;
        left: 0;
        position: absolute;
        transition: all 0.2s;
        z-index: 5;
    }
    .title {
        position: absolute;
        bottom: 30px;
        left: 10px;
        max-width: 100px;
        z-index: 11;
    }
    &:hover {
        .decor-border {
            border: 1px solid @c-pink;
        }
    }
}

.product-card {
    display: flex;
    .img-holder,
    .product-info {
        width: 50%;
    }
    .img-holder {
        overflow: hidden;
    }
    .product-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .responsive(@breakpoint-768-max, {
        flex-direction: column;
        .img-holder,
        .product-info {
            width: 100%;
        }
        .img-holder {
            margin-bottom: @p4;
        }
        .product-info {
            padding-left: 0;
        }
    });
}

.product-preview-wrapper {
    display: flex;
    width: 50%;
    border: 1px solid @c-dgray;
    height: 330px;
    .responsive(@breakpoint-768-max, {
        width: 100%;
    });
    .product-preview {
        flex: 0 0 70px;
        &>div {
            height: calc(~'100%/3');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-right: 1px solid @c-dgray;
            &:not(:last-child) {
                border-bottom: 1px solid @c-dgray;
            }
        }
    }
    .img-holder {
        flex: 0 0 250px;
        height: 100%;
        padding-bottom: 100%;
        .responsive(@breakpoint-768-max, {
            flex: auto;
            margin-bottom: 0;
        });
    }
}

.dropdown {
    position: relative;
    &>div {
        border: 1px solid @c-black;
        padding: @p3;
    }
    .dropdown-hover {
        display: flex;
        justify-content: space-between;
        padding: @p3 @p5 @p3 @p3;
    }
    .dropdown-inner {
        display: none;
        justify-content: flex-start;
        border-top: none;
        position: absolute;
        width: 100%;
        top: 100%;
        background-color: @c-white;
        &.active {
            display: flex;
        }
    }
    .color-preview {
        width: 20px;
        height: 20px;
        cursor: pointer;
        &:not(.color-current) {
            &:hover {
                border: 1px solid #000;
            }
        }
        &.active {
            border: 1px solid #000;
        }
    }
    .size {
        &:not(.current-size) {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 24px;
            border: 3px solid transparent;
            cursor: pointer;
            &:hover {
                border: 3px solid @c-yellow;
            }
            &.active {
                border: 3px solid @c-yellow;
            }
        }

    }
    .dropdown-btn {
        position: absolute;
        right: @p3;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.counter-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.counter-stepper {
    display: flex;
    height: 32px;
    .counter-input,
    .counter-btn {
        display: flex;
        text-align: center;
        justify-content: center;
        border: 1px solid @c-black;
        box-sizing: border-box;
    }
    .counter-btn {
        width: 32px;
        background-color: @c-white;
        cursor: pointer;
        transition: all 0.2s;
        &:hover {
            background-color: #e8e8e8;
        }

    }
    .counter-input {
        width: 40px;
        border-right: 0;
        border-left: 0;
        padding: 0;
    }
}

.tabs-content {
    display: none;
    &.active {
        display: flex;
        justify-content: flex-start;
        margin-left: -5px;
        margin-right: -5px;
    }
}
