.main-slider {
    .swiper-slide {
        height: 660px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &>.swiper-pagination-bullets {
        width: auto;
        right: 100px;
        left: auto;
        bottom: @p4;
        .swiper-pagination-bullet {
            width: 13px;
            height: 13px;
            opacity: 1;
            background-color: @c-white;
        }
        .swiper-pagination-bullet-active {
            background-color: @c-light-pink;
        }
    }
    .responsive(@breakpoint-768-min, {
        display: none;
    });
}

.gallery-top {
    width: 75%;
    height: 100%;
    .swiper-slide {

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.gallery-thumbs {
    width: 25%;
    height: 100%;
    .swiper-slide {

        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.product-slider {
    width: 300px;
    height: 300px;
}

